.card {
    background: #fff;
    border-radius: 2px;
    display: inline-block;
    margin: 1rem;
    position: relative;
    width: 245px;
    vertical-align: top;
}

.card {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22);
}

.front-card {
    height: 315px;
}

/* CARDS: MAIN */ 
/* use standard material specs for cards with the following exceptions:*/
.card-main-img {
	height: 194px;
    border-radius: 2px 2px 0px 0px;
	background-position: center;
    background-size: cover;
}
 
.card-main-ico {
    height: 100px;
    width: 100px;
    border-radius: 60px;
    border: 5px solid @white;
}
	
.card-main-title {
	.avenirNextRegular;
    font-size: 16px;
    text-transform: uppercase;
    color: @gray-primary;
    text-align: center;
    padding: 30px 0px 20px 0px;
}

/* CARDS: VIDEO */
/* use standard material specs for cards with the following exceptions:*/
.video-title {
    .avenirNextRegular;
    font-size: 18px;
    color: @brand-primary;
}
 
.video-sum {
    .avenirNextRegular;
    font-size: 16px;
    color: @gray-secondary;
}

/* CARDS: PROVIDER */ 
/* use standard material specs for cards with the following exceptions:*/
.card-provider {
    background: #fff;
    border-radius: 2px;
    display: inline-block;
    margin: 0.75rem;
    position: relative;
    width: 215px;
    vertical-align: top;
}

.card-provider {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card-provider:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22);
}

.card-provider-title {
	.avenirNextDemiBold;
    font-size: 16px;
    color: @brand-primary;
    padding-top: 15px;
}

.card-provider-title-uw {
	.avenirNextDemiBold;
    font-size: 16px;
    color: #003764;
    padding-top: 15px;
}

.view-id-survivor_stories,
.view-cancer-care-stories {
    .card-provider-title {
        text-align: center;
        padding-bottom: 15px;
    }
}

.patient-story-details-container {
    padding: 30px;
}

.card-provider-special {
	.avenirNextItalic;
    font-size: 14px;
    color: @gray-primary;
    margin-bottom: 0.6em;
}
 
.card-provider-location-name {
	.avenirNextDemiBold;
    font-size: 14px;
    color: @gray-primary;
}
 
.card-provider-location-info {
	.avenirNextRegular;
    font-size: 14px;
    color: @gray-primary;
}
 
.card-provider-btn-group {
    .avenirNextRegular;
	background-color: @brand-primary;
	text-align: right;
	padding: 10px;
    font-size: 14px;
    color: @white;

    a { 
        color: @white;
    }
}

.card-provider-btn-uw {
    .avenirNextRegular;
	background-color: #003764;
	text-align: right;
	padding: 10px;
    font-size: 14px;
    color: @white;

    a {
        color: @white;
    }
}

.card-provider-btn {
    .avenirNextRegular;
	background-color: @gray-secondary;
	text-align: right;
	padding: 10px;
    font-size: 14px;
    color: @white;

    a {
        color: @white;
    }
}
 
.card-provider-btn-icon {
    float: left;
    background-image: url('/themes/swedishamerican/images/ico-pinwheel.png');
    height: 30px;
	width: 30px;
    margin: 10px;
}

.card-provider-btn-uw-icon {
    float: left;
    background-image: url('/themes/swedishamerican/images/ico-uw.png');
    height: 14px;
	width: 65px;
    margin: 10px 0 0 10px;
}
 
.card-image {
	border-radius: 50px;
    background-color: @gray-rules;
    padding: 0px; 
    width: 100px;
    height: 100px;
}
 
.card-provider-bkgrd-group {
	background: #ECE4E9;
    padding: 0 15px 20px 15px;
}

.card-provider-bkgrd-uw {
    background: #d9dee6;
    padding: 0 15px 20px 15px;
}
 
.card-provider-bkgrd {
	background: #F5F5F6;
    padding: 0 15px 20px 15px;
}

/* CARDS:LOCATIONS */ 
.card-location-title {
	.avenirNextDemiBold;
    font-size: 16px;
    color: @brand-primary;
}

/* CARDS:Accordion */
.accordion-card {
    border-bottom: 1px solid @gray-rules;
    -webkit-box-shadow: none;
    box-shadow: none;

    .card-header {
        padding: 10px 0;
        background: 0 0;
        border-bottom: 0;

        a {
            text-decoration: none;

            i {
                float: right;
            }
        }
    }
}

/* CARDS:EVENTS */
.card-event,
.senior-card {
    background: #fff;
    border-radius: 2px;
    display: inline-block;
    margin: 1rem;
    position: relative;
    vertical-align: top;

    h2 {
        margin-top: 0;
    }
}

.senior-card {
    width: 255px;
}
.card-event {
    width: 300px;
    height: 725px;
}

.card-event,
.senior-card {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card-event:hover,
.senior-card:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22);
}