.events {
    padding: 0 30px 30px 30px;
}

.field--name-field-date-text {
    .field--item {
        .avenirNextRegular;
        font-size: 16px;
        color: @text-color;
        line-height: 1.4em;
        margin-top: 0px;
        margin-bottom: 0.6em;
    }
}

.event-tags {
    a {
        .avenirNextRegular;
        font-size: 16px;
        color: @brand-primary;
        line-height: 1.4em;
        margin-top: 0px;
        margin-bottom: 0.6em;
    }
}

.event-image-full {
    width: 35%;
    padding-right: 15px;
}

.event-image {
    height: 125px;
    background-size: cover;
    background-position: center;
}

.event-title {
    vertical-align: top;
    max-width: 60%;
}

.event-details {
    padding: 15px;
}

.events-wrapper {
    margin: 0 0 15px 15px;
}
.markup-sticky {
    position: relative;
    left: 1%;
    width: 75%;
}