footer {
    background-color: @brand-primary;
}

.footer-social {
    height: 90px;
    background-color: @white;
    
    a {
        color: @white;
    }
    .date {
        margin-top: 30px;
        line-height: 30px;
        
    }

    .social {
        width: 325px;
        float: right;
        margin-top: 30px;
        
        
        li {
            display: inline;
        }

        .social-button {
            color: @white;
            border-radius: 30px;
            margin-left: 15px;
        }

        .fb {
            background-color: @facebook;
            padding: 10px 15px;
        }
        .tw {
            background-color: @twitter;
            padding: 11px 13px;
        }
        .ig {
            background-color: @instagram;
            padding: 11px 14px;
        }
        .li {
            background-color: @linkedin;
            padding: 11px 14px;
        }
        .yt {
            background-color: @youtube;
            padding: 11px 14px;
        }
    }
}