.term-page {
    .block {
        margin: 0 95px 30px 94px;
    }
}

.location-address {
	.avenirNextDemiBold;
    font-size: 30px;
    text-transform: uppercase;
    color: @text-color;
    line-height: 36px;

    .field {
        display: inline-block;
    }
}

.top-bar-location {
    height: 60px;
}

.location-container {
    h1, h2 {
        margin-top: 0;
    }  
    
    .map-image-container {
        .image {
            width: 50%;
        }

        .map {
            width: 49%;

            iframe {
                width: 102%px;
            }
        }
    }
    
    .term-content-container {
        width: 70%;
        margin: 45px 30px 0 45px;
        padding-right: 30px;
        padding-bottom: 30px;
        border-right: 1px solid @gray-rules;
    }

    .term-contact-container {
        
        div {
            vertical-align: top;
        }

        i {
            margin-right: 15px;
        }
        
        .phone-email {
            width: 40%;
        }
    }

    .term-services-container {
        width: 20%;
        margin: 45px 0 45px 0;
        vertical-align: top;

        h2 {
            margin-top: 0;
        }
    }
}
.view-id-locations {
    .views-row {
        border-bottom: 1px solid @gray-rules;
    }

    .view-content {
        width: 25%;
        display: block;
        overflow-y: scroll;
        height: 660px;
        background-color: @white;
        border-bottom: 1px solid #bebebe;
        border-right: 1px solid #bebebe;
        box-shadow: 5px 0 5px -5px #bebebe;
    }

    .view-header {
        padding-left: 30px;
        width: 25%;
        background-color: @white;
        border-right: 1px solid #bebebe;
        box-shadow: 5px 0 5px -5px #bebebe;

        h1 {
            padding: 45px 0 30px 0;     
        }
    }

    .view-filters.form-group {
        width: 25%;
        background-color: @white;
        padding: 0 20px 0 0;
        border-bottom: 1px solid #bebebe;
        border-right: 1px solid #bebebe;
        box-shadow: 5px 0 5px -5px #bebebe;
        margin-bottom: 0;

        div#edit-actions {
            margin-bottom: 15px;
        }
    }

    .form-inline .form-group {
        display: block;
        padding: 0 15px 15px 30px;    
    }
    
    .form-inline .form-control,
    .form-inline .select-wrapper {
        width: 100%;
    }

    span.location-header {
        .avenirNextDemiBold;
        font-size: 16px;
        color: @brand-primary;
        padding: 30px 0 15px 0;
        display: block;
    }

    .views-field-name {
        padding: 30px 15px 15px 40%;
    }
    .views-field-field-address {
        // padding: 0 15px 0px 40%;
        // background-color: rgba(190, 190, 190, 0.5);

        .location-image-bg {
            width: 33%;
            height: 200px;
            background-size: cover;
            background-position: center;
            border-right: 1px solid #bebebe;
            vertical-align: top;
        }

        .location-card {
            background: white;
            padding: 0 0 30px 15px;
            width: 65%;
            height: 200px;

            .location-info {
                span, p {
                    padding-right: 10px;
                }
            }
        }
    }
}

.attachment-after {
    position: absolute;
    left: 25%;
    top: 0;
    right: 0;

    .view-display-id-attachment_1 {
        .view-content {
            width: 100%;
            overflow-y: visible;
        }
    }
}

.field--name-field-extra-services {
    div {
        .avenirNextRegular;
        font-size: 16px;
        color: @text-color;
        line-height: 1.4em;
        margin-top: 0px;
        margin-bottom: 0.6em;
    }
}

.location-header {
    .avenirNextDemiBold;
    font-size: 18px;
    text-transform: uppercase;
    color: @brand-primary;
    line-height: 1.4em;
    margin: 0 0 15px 0;
}