.term-page {
    .block {
        margin: 0 95px 30px 94px;
    }
}

.location-address {
	.avenirNextDemiBold;
    font-size: 30px;
    text-transform: uppercase;
    color: @text-color;
    line-height: 36px;

    .field {
        display: inline-block;
    }
}

.location-container {
    h1, h2 {
        margin-top: 0;
    }  
    
    .map-image-container {
        .image {
            width: 50%;
        } 
    }
    
    .term-content-container {
        width: 65%;
        margin: 45px 30px 0 95px; 
    }

    .term-contact-container {
        
        div {
            vertical-align: top;
        }

        i {
            margin-right: 15px;
        }
        
        .phone-email {
            width: 40%;
        }
    }

    .term-services-container {
        margin: 45px 0 95px 0;
        padding-left: 30px;
        border-left: 1px solid @gray-rules;
        vertical-align: top;
        min-height: 575px;

        h2 {
            margin-top: 0;
        }
    }
}
.view-id-locations {
    height: 1000px;

    .views-row {
        border-bottom: 1px solid @gray-rules;
    }

    .view-content {
        width: 20%;
        display: inline-block;
        overflow-y: scroll;
        height: 694px;
    }

    .view-header {
        padding-left: 30px;

        h1 {
            margin: 45px 0 30px 0;     
        }
    }

    .view-filters.form-group {
        width: 20%;
        padding: 0 20px 0 0;
    }

    .form-inline .form-group {
        display: block;
        padding: 0 15px 15px 30px;    
    }
    
    .form-inline .form-control,
    .form-inline .select-wrapper {
        width: 100%;
    }

    span.location-header {
        .avenirNextDemiBold;
        font-size: 16px;
        color: @brand-primary;
        padding: 15px 0;
        display: block;
    }

    .views-field-name {
        padding: 30px 15px 15px 40%;
    }
    .views-field-field-address {
        padding: 0 15px 30px 40%;
    }
}

.attachment-after {
    width: 80%;
    // float: right;
    position: absolute;
    top: 0;
    right: 0;

    .view-display-id-attachment_1 {
        .view-content {
            width: 100%;
            overflow-y: visible;
        }
    }
}

/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) and (max-width : 1500px) {
    /* Styles */
    #overlay-content {
        .map {
            iframe {
                width: 554px;
                height: 418px;
            }
        }
    }

    .view-id-locations {
        .view-content,
        .view-filters.form-group {
            width: 25%;
        }

        .attachment-after {
            width: 75%;

            .view-display-id-attachment_1 {
                .view-content {
                    width: 100%;
                    overflow-y: visible;
                }
            }
        }
    }
}

