.term-page {
    .block {
        margin: 0 95px 30px 94px;
    }
}

.location-address {
	.avenirNextDemiBold;
    font-size: 30px;
    text-transform: uppercase;
    color: @text-color;
    line-height: 36px;

    .field {
        display: inline-block;
    }
}

.location-container {
    h1, h2 {
        margin-top: 0;
    }  
    
    .map-image-container {
        .image {
            width: 50%;
        }

        iframe {
            width: 740px;
            height: 559px;
        }
    }
    
    .term-content-container {
        width: 65%;
        margin: 45px 30px 0 95px;
        padding-right: 30px;
        border-right: 1px solid @gray-rules;
    }

    .term-contact-container {
        
        div {
            vertical-align: top;
        }

        i {
            margin-right: 15px;
        }
        
        .phone-email {
            width: 40%;
        }
    }

    .term-services-container {
        margin: 45px 0 95px 0;
        vertical-align: top;

        h2 {
            margin-top: 0;
        }
    }
}
.view-id-locations {
    height: 1000px;

    .views-row {
        border-bottom: 1px solid @gray-rules;
    }

    .view-content {
        width: 20%;
        display: inline-block;
        overflow-y: scroll;
        height: 694px;
    }

    .view-header {
        padding-left: 30px;

        h1 {
            margin: 45px 0 30px 0;     
        }
    }

    .view-filters.form-group {
        width: 20%;
        padding: 0 20px 0 0;
    }

    .form-inline .form-group {
        display: block;
        padding: 0 15px 15px 30px;    
    }
    
    .form-inline .form-control,
    .form-inline .select-wrapper {
        width: 100%;
    }

    span.location-header {
        .avenirNextDemiBold;
        font-size: 16px;
        color: @brand-primary;
        padding: 15px 0;
        display: block;
    }

    .views-field-name {
        padding: 30px 15px 15px 40%;
    }
    .views-field-field-address {
        padding: 0 15px 30px 40%;
    }
}

.attachment-after {
    width: 80%;
    position: absolute;
    top: 0;
    right: 0;

    .view-display-id-attachment_1 {
        .view-content {
            width: 100%;
            overflow-y: visible;
        }
    }
}

.field--name-field-extra-services {
    div {
        .avenirNextRegular;
        font-size: 16px;
        color: @text-color;
        line-height: 1.4em;
        margin-top: 0px;
        margin-bottom: 0.6em;
    }
}