@media only screen and (max-width : 1500px) {
    .inline-collapse {
        display: block;
    }

    .form-item-sag .sag-markup .text {
        max-width: 140px;
    }

    #dependant-fields-wrapper {
        width: 25%;
    }

    .provider-article-padding-left {
        padding: 30px 15px 15px 27%;
    }
    #swedishamerican-providers-form,
    #swedishamerican-eventslist-form {
        .markup-area {
            width: 70%;
        }
    }

    .view-id-locations {
        .views-row {
            border-bottom: 1px solid @gray-rules;
        }
    
        .view-content {
            width: 30%;
        }
    
        .view-header {
            width: 30%;
        }
    
        .view-filters.form-group {
            width: 30%;
        }
    }

    .attachment-after {
        left: 30%;
    }
}

@media only screen and (max-width : 1224px) {
    .fb-container {
        width: 200px;
        margin: 0 15px 0 0;
    }
    .ig-content {
        width: 175px;

        .ig_article .post_image {
            height: 183px;
        }
    }
    .ig-content-wide {
        width: 285px;

        .small_ig_article img {
            width: 90px;
        }
    }

    #block-youtubepostfeed,
    #block-twitterpostfeed {
        .social-block {
            .header-title {
                float: none;
                min-height: 75px;
            }
        }
    }

    #dependant-fields-wrapper {
        h1 {
            font-size: 36px;
        }
        .dependant-fields-footer {
            .text {
                width: 75%;
            }
        }

        .form-item-sag .sag-markup .text {
            max-width: 134px;
        }
    }
}

/* ----------- In-between Range ----------- */
@media only screen  and (min-width : 1025px) and (max-width : 1199px) {
    .view-front-cards {
        .view-header {
            height: 715px;
        }
    }
}

/* ----------- iPads (landscape) ----------- */
@media only screen and (max-width : 1024px) {
    /*************************** Global Styles ***************************/
    .navbar-header nav {
        width: 1024px;
    }
    #preheader {
        .search {
            width: 70%;
        }
    }

    ul.menu.nav.navbar-nav {
        margin-left: 15px;
    }

    .fb-container {
        width: 255px;
        margin: 0 30px 0 0;
    }
    .social-hdr {
        font-size: 28px;
    }

    .bs-menu ul {
        column-gap: 0px;
    }

    .region-sidebar-second {
        a {
            font-size: 14px;
        }
        .block-swedishamerican-related-documents-list {
            li {
                a {
                    font-size: 14px;
                }
            }
        }  
    }

    /*************************** Front Page Styles ***************************/
    .view-front-cards {
        .view-header {
            float: none;
            width: 100%;
            margin-right: 0;
            min-height: 0;
            padding: 0 15px 15px 15px;
            border-right: none;

            h1, p {
                text-align: left;
            }
        }
    }

    .social-block {
        .header-title {
            margin-right: 0;
            min-height: 75px;
            width: 225px;
            
            h1 {
                text-align: left;
            }
        }
    }

    #block-facebookpostfeed,
    #block-instagrampostfeed {
        margin-left: 0;
    }

    #block-facebookpostfeed, 
    #block-instagrampostfeed {
        .social-block {
            .header-title {
                float: none;
                min-height: 75px;
            }
        }
    }

    section#block-youtubepostfeed {
        width: 53%;
    }

    .youtube-content {
        width: 225px;

        iframe {
            width: 225px;
        }

        .divider {
            background-color: @white;
        }
    }

    /*************************** Service Styles ***************************/
    .service-container {
        .phone-email {
            border-right: none;
            padding-right: 0;
            margin-bottom: 30px;
        }

        .location-address {
            padding-left: 0;
        }
    }

    /*************************** Provider Styles ***************************/
    .card-provider {
        width: 215px;
    }

    #dependant-fields-wrapper {
        width: 25%;
    }
    .provider-article-padding-left {
        padding: 30px 15px 15px 27%;
    }
    #swedishamerican-providers-form {
        .markup-area {
            width: 70%;
        }
    }
}

@media only screen and (max-width : 992px) {
    #preheader {
        .search {
            width: 60%;
        }
    }
    

    .inline-desktop {
        display: block;
    }

    .fb-container {
        width: 220px;
        margin: 0 10px 0 0;
    }
    .ig-content {
        width: 200px;
    }
    .ig_article .post_image {
        height: 193px;
    }
    .ig-content-wide {
        width: 305px;

        .small_ig_article img {
            width: 95px;
        }
    }
    #dependant-fields-wrapper {
        width: 30%;
    }
    .provider-article-padding-left {
        padding: 30px 15px 15px 32%;
    }
    #swedishamerican-providers-form {
        .markup-area {
            width: 65%;
        }
    }
    .provider-container {
        .provider-image-container {
            width: 40%;
            margin: auto;
        }
    }
    .provider-container {
        .provider-details-container {
            padding: 30px;
        }
    }    
    
    .social {
        .social-button {
            margin-left: 5px;
        }
    }
    
    .location-container {
        .term-content-container {
            width: 65%;
        }
    }

    .service-container {
        .phone-email {
            border-right: none;
        }
        .single-location,
        .multiple-location {
            padding-left: 0;
            padding-top: 30px;
        }
    }

    .location-container {
        .term-content-container {
            width: 100%;
            margin: 45px 30px 0 15px;
            border-right: none;
        }
        .term-services-container {
            width: 100%;
            margin: 0px 0 0px 15px;
            vertical-align: top;
        }
    }
    .term-page .block {
        margin: 0 15px 30px 15px;
    }

    #swedishamerican-eventslist-form {
        .markup-area {
            width: 65%;
        }
    }
}

/* ----------- iPads (portrait) ----------- */
@media only screen and (max-width : 768px) {
    /*************************** Global Styles ***************************/
    #preheader {
        .search {
            width: 62%;
        }
    }
    .ios-header {
        margin-top: 0 !important;
    }
    .navbar-header nav {
        width: 768px;
    }

    ul.menu.nav.navbar-nav {
        margin-left: 0px;
    }

    .navbar-inverse .navbar-nav > li > a {
        padding: 16px 6px;
        font-size: 14px
    }

    .mobile-hide {
        display: none;
    }

    .bs-menu {
        ul {
            li {
                width: 110px;
                margin-right: 0px;

                a {
                    padding: 3px 0px;
                    white-space: normal;
                }
            }
        }
    }

    footer {
        .footer-content-short {
            width: 210px;
        }
    }

    /*************************** Front Page Styles ***************************/
    .view-front-cards {
        .views-row {
            margin: 5px;
        }
        .view-content {
            float: none;
            width: 100%;
            margin-right: 0;
            margin-top: 15px;
            min-height: 0;

            h1 {
                text-align: left;
            }
        }
        .card {
            width: 225px;
        }
        .back {
            display: none;
        }
    }

    #block-socialheader {
        .social-block {
            .header-title, 
            .header-body {
                float: none;
                display: inline-block;    
            }
        }
        .header-title {
            vertical-align: top;
            width: 25%;
        }
    }

    .fb-container {
        width: 225px;
        margin: 0 10px 0 0;
    }

    .ig-content {
        width: 222px;
    }

    .ig_article {
        .post_image {
          height: 167px;
        }
    }
    .small_ig_article {
        img {
            width: 82px;
        }
    }

    .ig-content-wide {
        width: 260px;
    }

    #block-twitterpostfeed {
        .social-block {
            .header-title {
                margin-right: 75px;
                min-height: 75px;
                width: 225px;
                float: none;
            }
        }
    }

    section#block-youtubepostfeed {
        width: 45%;
        margin-left: 75px;
    }

    /*************************** Provider Styles ***************************/
    #dependant-fields-wrapper {
        h1 {
            font-size: 36px;
        }
    }
    
    .dependant-fields-footer {
        .icon {
            display: block;
        }
    }

    /*************************** Location Styles ***************************/
    .view-id-locations {
        .view-header,
        .view-content,
        .view-filters.form-group {
            width: 40%;
        }
        .attachment-after {
            top: 0;
            width: 58%;
            left: 40%;
        }
    }
    // .locations-container {
    //     .location-container {
    //         .location-address {
    //             width: 100%;
    //         }
    //     }
    // }

    /*************************** Event Styles ***************************/
    .events-container {
        .card-event {
            width: 225px;
        }
    }

    /*************************** Senior Leadership Styles ***************************/
    .senior-card {
        width: 200px;

        .senior-image {
            height: 150px;
        }
    }
}

/* ----------- iPhone 6-7 Plus & Nexus 6P (Landscape) ----------- */
@media only screen and (max-width : 736px) {
    .navbar-inverse .navbar-nav > li > a {
        font-size: 16px
    }
    /*************************** Global Styles ***************************/
    .full {
        .row {
            margin-left: 0;
            margin-right: 0;
        }
        .col-sm-12 {
            padding-left: 0;
            padding-right: 0;
        }
    }
    
    section.main-col {
        position: relative;
        z-index: 0;
    }

    .main-col.no-side-sol.col-sm-12 {
        padding: 0;
    }

    .no_label {
        display: block;
    }

    .overlay {
        width: 100%;
        .row {
            margin: 0;
        }
    }

    .service-container h1,
    h1 {
        margin-top: 15px;
        font-size: 36px;
    }

    .top-bar {
        height: 0;
        margin-bottom: 45px;
        border-bottom: none;
    }

    #preheader {
        // width: 678px;
        height: 52px;
        margin: 0;
        float: left;
        position: relative;
        z-index: 51;

        .logo {
            margin: 0 15px 0 30px;

            img {
                height: 52px;
            }
        }

        .search {
            // width: 564px;
            margin-right: 0;

            form#search-block-form input {
                height: 52px;
            }

            .form-group {
                margin-bottom: 0;
            }
        }

        .phone {
            display: none;
        }
    }

    ul.menu.nav.navbar-nav {
        margin-top: 88px;
    }

    ul.nav li.dropdown:hover > ul.dropdown-menu {
        display: block;
        width: 100%;
    }

    .navbar-header nav {
        width: auto;
    }

    .bs-menu {
        border-left: none;
        padding: 0 15px;
        margin: 0 0 0 5px;

        ul {
            column-count: 1;
        }
    }

    li.extra-services {
        margin: 0;
    } 


    // Header Region
    #block-servicebanner,
    #block-cancercarebanner,
    #block-allergybanner,
    #block-audiologybanner,
    #block-breastcarebanner,
    #block-nutritionbanner,
    #block-emergencybanner,
    #block-migrainesbanner,
    #block-heartcarebanner,
    #block-holisticbanner,
    #block-homecarebanner,
    #block-imagingbanner,
    #block-kidscarebanner,
    #block-mentalhealthbanner,
    #block-orthopedicsbanner,
    #block-physicaltherapybanner,
    #block-sleepdisordersbanner,
    #block-surgerybanner,
    #block-wellnessbanner,
    #block-woundcarebanner,
    #block-blogbanner,
    #block-aboutbanner,
    #block-patientsbanner,
    #block-visitorsbanner,
    #block-swedishamericananimationbanner {
        display: none;
    }


    #postheader {
        display: block;
        background: rgba(63, 63, 63, 1);
        
        .phone {
            font-size: 18px;
            padding: 5px;
            color: @white;
            text-align: center;
        }
    }

    .navbar-inverse .navbar-collapse, 
    .navbar-inverse .navbar-form {
        border: 1px solid @brand-primary;
        background-color: @white;
        margin-top: -22px;
    }

    .navbar-inverse .navbar-nav > li > a:hover {
        border-bottom: none;
    }

    .navbar-inverse .navbar-nav > .active > a, 
    .navbar-inverse .navbar-nav > .active > a:hover, 
    .navbar-inverse .navbar-nav > .active > a:focus,
    .navbar-inverse .navbar-nav > li > a,
    .navbar-inverse .navbar-nav > li > a:hover,
    .navbar-inverse .navbar-nav > li > a:focus {
        color: @text-color;
    }

    .dropdown-menu {
        box-shadow: none;
    }

    .navbar-header {
        background: @white;
        background-color: transparent;

        .region-navigation {
            display: inline-block;
            width: 84%;

            .logo {
                padding-right: 0;
                padding-left: 0;
                margin-right: 15px; 

                img {
                    height: 52px;
                }
            }
            .block-search-form-block {
                .input-group {
                    height: 52px;
                }
                input#edit-keys--2 {
                    box-shadow: none;
                    padding-top: 15px;
                }
            }
        }
        .navbar-toggle {
            display: inline-block;
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }

    .view-front-cards .view-header,
    #block-socialheader,
    #block-facebookpostfeed,
    #block-instagrampostfeed,
    #block-youtubepostfeed,
    #block-twitterpostfeed,
    .top-bar-location,
    footer {
        display: none;
    }

    .view-front-cards {
        .card {
            width: 220px;

            article {
                height: 240px;

                .card-main-img {
                    height: 140px;
                }

                .card-main-ico {
                    margin: 0 auto 50px auto;
                }
            }
        }
    }

    #swedishamerican-providers-form {
        .form-type-checkbox,
        .form-type-textfield {
            padding: 15px;
        }

        .form-type-select {
            padding: 0 15px;
            width: 32%;
            display: inline-block;
        }

        .form-submit {
            margin-left: 15px;
        }

        .dependant-fields-wrapper-fluid {
            position: relative;
            left: 0;
            top: 0;

            h1 {
                display: none;
            }
        }

        .markup-area {
            width: 100%;
        }
    }

    .providers-container {
        margin-top: 15px;
    }

    .lightBox.inline {
        width: 100%;
    }

    .provider-container {
        .provider-details-container {
            padding: 15px 0;
            width: 100%;

            .name h1,
            .name h3 {
                text-align: left;
            }
        }
    }

    .desktop-provider-contact {
        display: none;
    }
    
    .mobile-provider-contact {
        display: block;
    }

    .card-provider {
        width: 100%;
        height: 140px;
        margin: 0;
        box-shadow: none;
        transition: none;
        border-bottom: 1px solid @gray-rules;
    }

    .card-provider:hover {
        box-shadow: none;
    }
    
    .card-provider-btn-icon {
        position: absolute;
        margin: 3px 0px 0px 4px;
    }
    .card-provider-btn-uw-icon { 
        position: absolute;
        z-index: 52;
        margin: 5px;
    }
    .views-field-field-image,
    .views-field-field-image-uw {
        display: inline-block;
        margin-left: 15px;
    }
    .views-field-field-image-uw {
        margin-top: 30px;
    }
    .card-provider-bkgrd,
    .card-provider-bkgrd-group,
    .card-provider-bkgrd-uw  {
        margin-top: 15px;
    }
    .internal-provider,
    .external-provider,
    .uw-provider {
        background-image: none;
        padding: 0;
        display: inline-block;
        width: 69%;
        vertical-align: top;
    }
    .card-provider-bkgrd-group,
    .card-provider-bkgrd,
    .card-provider-bkgrd-uw {
        background: none;
    }
    .card-provider-btn-group,
    .card-provider-btn,
    .card-provider-btn-uw {
        display: none;
    }

    .view-id-locations {
        .view-header, 
        .view-content, 
        .view-filters.form-group {
            width: 100%;
            padding: 0;
        }

        .view-header {
            h1 {
                padding: 0 15px 15px 10px;
            }
        }

        .view-content {
            height: 100%;
        }

        .views-field-field-address .location-image-bg,
        .views-field-field-address .location-card {
            height: 150px;
        }

        span.location-header {
            padding: 10px 0 0 0;
        }

        .attachment-after {
            display: none;
        }

        .form-inline .form-group {
            padding: 0 0px 5px 10px;
            width: 49%;
            display: inline-block;
        }
    }

    #dependant-fields-wrapper {
        width: 100%;
        box-shadow: none;
        margin: 0;
        padding: 0;

        h1 {
            margin: 0 15px;
        }

        .form-item-sag .sag-markup .text {
            max-width: 100%;
        }
    }

    .locations-container {
        width: 100%;

        .location-container {
            .map-image-container {
                iframe {
                    width: 362px;
                    height: 275px;
                }
            }
            .term-contact-container {
                .phone-email {
                    width: 100%;
                }
            }
            
            .term-content-container {
                width: 98%;
                margin: 0;
                padding: 15px;
                border-right: none;
            }
        } 

        .special-services-container {
            margin-bottom: 0;
        }
        #block-swedishamericanlocationproviders {
            margin: 0;
        }
    }
    
    .service-container { 
        .phone-email {
            max-width: 100%;
            margin: 0;
        }
    }

    .events {
        padding: 0;
    }

    #block-swedishamericaneventslist-2 {
        #dependant-fields-wrapper {
            position: relative;
            left: 0;
            top: 0;
    
            h1 {
                display: none;
            }
    
            .form-type-select,
            .form-type-textfield {
                display: inline-block;
                width: 40%;
                margin: 0 15px;
            }
            .form-submit {
                display: block;
                margin: 15px;
            }
        }
        .card-event {
            height: auto;
        }
    }
    
    #swedishamerican-eventslist-form {
        .markup-area {
            width: 100%;
        }
        .events-container {
            width: 100%;

            .card-event {
                width: 100%;
                margin: 0;

                box-shadow: none;
                transition: none;
                border-bottom: 1px solid @gray-rules;
            }
        }
    }

    .provider-container {
        width: 100%;
        max-width: 736px;

        .provider-image-container {
            width: 100%;

            .provider-image {
                width: 275px;

                .social-provider {
                    width: 100%;
                }
            }
        }
        .provider-details-container {
            max-width: 100%;

            .name {
                h1 {
                    text-align: center;
                }
                h3 {
                    text-align: center;
                }
            }
        }
    }

    #block-ceomessage1 {
        img {
            width: 75%;
            margin: 0 auto 15px auto;
            display: block;
            float: none;
        }
    }
    
    .footer-social {
        z-index: 47;
        
        ul {
            padding-left: 0;
        }

        .date {
            width: 100%;
            text-align: center;
        }

        .social-footer {
            width: 100%;
            float: none;
            text-align: center;
        }
    }

    .social {
        .social-button:first-child { 
            margin-left: 0;
        }
    }

    .footer-social-links {
        text-align: center;
        margin-bottom: 30px;
    }
}

/* ----------- Nexus 5X (Landscape) ----------- */
@media only screen and (max-width : 684px) {
    .view-front-cards {
        .card {
            width: 205px;
        }
    }

    /*************************** Location Styles ***************************/
    .locations-container {
        .location-container {
            .map-image-container {
                iframe {
                    width: 338px;
                    height: 260px;
                }
            }
        }
    }
}

/* ----------- iPhone 6-7 (Landscape) ----------- */
@media only screen and (max-width : 667px) {
    .view-front-cards {
        .card {
            width: 200px;

            article {
                height: 220px;

                .card-main-img {
                    height: 125px;
                }
            }
        }
    }
    /*************************** Location Styles ***************************/
    .locations-container {
        .location-container {
            .map-image-container {
                iframe {
                    width: 330px;
                    height: 250px;
                }
            }
        }
    }
    .senior-card {
        width: 190px;
    }
}

/* ----------- Galaxy S5 (Landscape) ----------- */
@media only screen and (max-width : 640px) {
    .view-front-cards {
        .card {
            width: 190px;
        }
    }
    /*************************** Location Styles ***************************/
    .locations-container {
        .location-container {
            .map-image-container {
                iframe {
                    width: 315px;
                    height: 240px
                }
            }
        }
    }
}

/* ----------- iPhone 5 (Landscape) ----------- */
@media only screen and (max-width : 568px) {
    .view-front-cards {
        .card {
            width: 165px;

            article {
                height: 175px;

                .card-main-ico {
                    margin: 0 auto 50px auto;
                }
            }

            .card-main-img {
                display: none;
            }
        }
    }
    /*************************** Location Styles ***************************/
    .locations-container {
        .location-container {
            .map-image-container {
                iframe {
                    width: 280px;
                    height: 213px;
                }
            }
        }
    }
}

/* ----------- iPhone 6-7 Plus & Nexus 6P (portrait) ----------- */
@media only screen and (max-width : 480px) {
    /*************************** Global Styles ***************************/
    h1,
    .service-container h1 {
        font-size: 6vw;
    }

    h2,
    h2 a {
        font-size: 5vw;
    }

    .main-container a {
        font-size: 14px;
    }

    #preheader {
        // width: 350px;

        .logo {
            margin: 0 15px 0 0;
        }

        .search {
            // width: 265px;
        }
    }

    .view-front-cards {
        .view-content {
            margin: 5px 0;
        }
        .card {
            width: 179px;
        }
    }

    /*************************** Location Styles ***************************/
    .locations-container {
        .location-container {
            .term-content-container {
                padding: 15px 0;

                .phone-email {
                    margin: 0 0 15px 0;
                }
            }
            .map-image-container {
                margin: 0 -15px;
            }
            .term-services-container {
                margin: 0px;
            }
        }
    }

    .paragraph--type--service-location {
        .map {
            iframe {
                height: 150px;
                width: 150px;
                margin-top: 15px; 
            }
        }
    }

    .senior-card {
        width: 169px;

        .senior-image {
            height: 125px;
        }
    }
    
    .box {
        max-width: 100%;
        width: 100%;
    }

    #overlay-content {
        margin: 0;
        max-width: 100%;
    }

    .event-image-full.inline {
        display: block;
        width: 100%;
        padding-right: 0;
    }
    .event-title {
        max-width: 100%;
    }
}

/* ----------- iPhone 6-7 (portrait) ----------- */
@media only screen and (max-width : 375px) {

    #preheader {
        // width: 315px;

        .logo {
            margin: 0 10px 0 0;
        }
        .search {
            // width: 235px;

            div#block-swedishamerican-search {
                padding-right: 0;
            }
        }
    }

    .view-front-cards {
        .card {
            width: 160px;
        }
    }

    #swedishamerican-providers-form {
        .form-type-select {
            padding: 0 10px;
        }
    }

    .provider-container {
        .provider-image-container {
            .provider-image {
                img {
                    width: 225px;
                    margin: auto;
                }
            }
        } 
    } 

    .internal-provider,
    .external-provider,
    .uw-provider {
        width: 58%;
    }

    /*************************** Location Styles ***************************/
    .locations-container {
        .location-container {
            .location-address {
                font-size: 24px;
            }
            
            .map-image-container {
                iframe {
                    width: 182px;
                    height: 141px;
                }
            }
        }
    }

    .senior-card {
        width: 150px;
    }
}

/* ----------- Galaxy S5 (portrait) ----------- */
@media only screen and (max-width : 360px) {   
    // h1 {
    //     font-size: 24px;
    // }
    
    .view-front-cards {
        .card {
            width: 153px;
        }
    }

    /*************************** Location Styles ***************************/
    .locations-container {
        .location-container {
            .location-address {
                font-size: 24px;
            }
            
            .map-image-container {
                .image {
                    width: 49%;
                }

                iframe {
                    width: 175px;
                    height: 135px;
                }
            }
        }
    }

    .location-container .map-image-container 
}

/* ----------- iPhone 5 (portrait) ----------- */
@media only screen and (max-width : 320px) {
    #preheader {
        width: 85%;
    }

    .view-front-cards {
        .card {
            width: 133px;

            .field--name-body {
                p {
                    font-size: 14px;
                }
            }
        }
    }

    #swedishamerican-providers-form {
        .form-type-select {
            .select-wrapper select {
                padding-right: 5px;
            }
        }
    }

    .provider-container {
        .provider-image-container {
            .provider-image {
                img {
                    width: 175px;
                }
            }
        } 
    } 
     

    #dependant-fields-wrapper {
        h1 {
            margin: 0 5px;
        }
    }

    .service-container {
        .address {
            max-width: 140px;
            padding-right: 0;

            iframe {
                height: 130px;
                width: 130px;
                margin-top: 15px; 
            }
        }
    } 

    .paragraph--type--service-location {
        .map {
            iframe {
                height: 130px;
                width: 130px;
                margin-top: 15px; 
            }
        }
    }

    /*************************** Location Styles ***************************/
    .locations-container {
        .location-container {
            .location-address {
                font-size: 18px;
            }
            
            .map-image-container {
                iframe {
                    width: 155px;
                    height: 120px;
                }
            }
        }
    }

    .events-dependant-fields-wrapper-fluid {

        .form-type-select,
        .form-type-textfield {
            width: 45%;
            margin: 0 5px;
        }
        .form-submit {
            margin: 5px;
        }
    }

    .senior-card {
        width: 130px;
        margin: 0.5em;
    }

    .senior-position {
        font-size: 14px;
    }
}