
@media only screen and (max-width : 1500px) {
    .inline-collapse {
        display: block;
    }

    .provider-container {
        max-width: 945px;
    }
}

/* ----------- Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) and (max-width : 1500px) {
    /*************************** Global Styles ***************************/
    .overlay {
        width: 1100px;
    }

    .overlay-close {
        float: none;
        position: relative;
        margin: 12px 0 0 -50px;
        z-index: 100;
        left: -30px;
    }

    .box {
        width: 1100px;
    }
    
    #overlay-content {
        margin: auto;

        .provider-contact-container {
            .map {
                iframe {
                    width: 250px;
                    height: 175px;
                }
            }
        }
        .location-container {
            .map {
                iframe {
                    width: 554px;
                    height: 418px;
                }
            }
        }
    }

    /*************************** Provider Styles ***************************/
    .provider-container {
        .provider-image-container {
            width: 335px;
            margin-left: 30px;

            .provider-image {
                width: 305px;
            }
        }
        .provider-details-container {
            max-width: 625px;
            margin-left: 45px;

            .map {
                margin-top: 30px;
            }
        }
    }

    .form-item-sag .sag-markup .text {
        max-width: 195px;
    }

    /*************************** Location Styles ***************************/
    .location-container{
        .term-content-container {
            margin: 45px 30px 0 30px;
        }

        .term-contact-container {
            .phone-email {
                width: 55%;
            }
        }

        .term-services-container {
            max-width: 325px;
        } 
    }

    .view-id-locations {
        .view-content,
        .view-filters.form-group {
            width: 25%;
        }

        .attachment-after {
            width: 75%;

            .view-display-id-attachment_1 {
                .view-content {
                    width: 100%;
                    overflow-y: visible;
                }
            }
        }
    }
}

/* ----------- In-between Range ----------- */
@media only screen  and (min-width : 1025px) and (max-width : 1199px) {
    .view-header {
        height: 715px;
    }
}

/* ----------- iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    /*************************** Global Styles ***************************/
    #preheader {
        .logo {
            margin-left: 30px;
        }

        .search {
            width: 640px;
            margin-right: 30px;
        }
    }

    .inline-desktop {
        display: block;
    }

    .box {
        left: 45px;
    }

    /*************************** Front Page Styles ***************************/
    .view-front-cards {
        .view-header {
            float: none;
            width: 100%;
            margin-right: 0;
            min-height: 0;

            h1, p {
                text-align: left;
            }
        }
    }

    .social-block {
        .header-title {
            margin-right: 0;
            min-height: 75px;
            
            h1 {
                text-align: left;
            }
        }
    }

    #block-facebookpostfeed,
    #block-instagrampostfeed {
        margin-left: 0;
    }

    #block-facebookpostfeed, 
    #block-instagrampostfeed {
        .social-block {
            .header-title {
                float: none;
                min-height: 75px;
            }
        }
    }

    .youtube-container {
        .divider {
            background-color: @white;
        }
    }

    /*************************** Service Styles ***************************/
    .service-container {
        .phone-email {
            border-right: none;
            padding-right: 0;
            margin-bottom: 30px;
        }

        .location-address {
            padding-left: 0;

            .address {
                max-width: none;
            }
        }
    }

    /*************************** Provider Styles ***************************/
    .providers-container {
        width: 775px;
    }

    .provider-container { 
        .provider-image-container {
            width: 335px;

            .provider-image {
                width: 205px;

                .social-provider {
                    width: 205px;
                }

                .social {
                    .social-button {
                        margin-left: 5px;
                    }
                }
            }
        }

        .provider-details-container {
            max-width: 575px;
        }
    }

    .form-item-sag {
        .sag-markup {
            .text {
                max-width: 134px;
            }
        }
    }

    /*************************** Location Styles ***************************/
    .locations-container {
        // width: 945px;

        .location-container {
            .map-image-container {
                iframe {
                    width: 469px;
                    height: 354px;
                }
            }

            .term-contact-container {
                .phone-email {
                    width: 100%;
                    margin-bottom: 30px;
                }
            }

            .term-content-container {
                width: 60%;
                margin: 45px 30px 0 30px;
            }
        }
    }
    .view-id-locations {
        .views-field-field-address {
            padding: 0 15px 30px 30px;
        }
        .attachment-after {
            top: 115px;
        }
    }

    /*************************** Events Styles ***************************/
    .event-container {
        width: 945px;
    }
}

/* ----------- iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    /*************************** Global Styles ***************************/
    #preheader {
        .search {
            width: 400px;
            margin-right: 30px;
        }
    }

    ul.menu.nav.navbar-nav {
        margin-left: 15px;
    }
    
    .navbar-inverse .navbar-nav > li > a {
        padding: 16px 8px 15px 8px;
    }

    .bs-menu {
        ul {
            li {
                width: 110px;
                margin-right: 0px;

                a {
                    padding: 3px 0px;
                    white-space: normal;
                }
            }
        }
    }

    #dependant-fields-wrapper {
        width: 25%;
    }

    .box {
        left: 60px;
    }

    footer {
        .footer-content-short {
            width: 210px;
        }
    }

    /*************************** Front Page Styles ***************************/
    .view-front-cards {
        .views-row {
            margin: 5px;
        }
        .view-content {
            margin-top: 15px;
        }
        .card {
            width: 225px;
        }
    }

    #block-socialheader {
        .social-block {
            .header-title, 
            .header-body {
                float: none;
                display: inline-block;    
            }
        }
        .header-title {
            vertical-align: top;
            width: 25%;
        }
        .header-body {
            width: 74%;
        }
    }

    .fb-container {
        width: 225px;
        margin: 0 10px 0 0;
    }

    .ig-content {
        width: 225px;
    }

    .ig-content-wide {
        width: 260px;
    }

    /*************************** Provider Styles ***************************/
    .providers-container {
        width: 535px;
    }

    .provider-container {
        width: 640px;
        
        .provider-image-container {
            width: 640px;

            .provider-image {
                width: 360px;

                .social-provider {
                    width: 360px;
                }

                .social {
                    .social-button {
                        margin-left: 15px;
                    }
                }
            }
        }
        .provider-details-container {
            max-width: 640px;
            margin-left: 30px;
            margin-top: 30px;

            .contact.inline {
                display: block;
            }
        }
    }

    /*************************** Location Styles ***************************/
    .locations-container {
        width: 640px;

        .location-container {
            .map-image-container {
                iframe {
                    width: 316px;
                    height: 239px;
                }
            }
            .term-content-container.inline {
                display: block;
            }
            .term-content-container {
                width: 90%;
                margin: 45px 30px 30px 30px;

                border-right: none;
            }
            
            .term-services-container {
                margin: 0 30px 30px 30px;
            }
        }
    }

    .view-id-locations {
        .views-field-field-address {
            padding: 0 15px 30px 30px;
        }
        .view-content,
        .view-filters.form-group {
            width: 25%;
        }
        .attachment-after {
            top: 115px;
            width: 74%;
        }
    }

    /*************************** Event Styles ***************************/
    .events-container {
        max-width: 545px;
        
        .card-event {
            width: 225px;
        }
    }

    .event-container {
        width: 640px;
    }
}