header {
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: inherit;
    -o-background-size: cover;
}

/* NAV */
.navbar {
    min-height: 52px;
    margin-bottom: 0;
}

#nav-container2 {
    height: 52px;
    background:  rgba(63, 63, 63, 1);
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.2);
}
 
.navbar {
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.navbar-btn {
    margin-top: 0;
    margin-bottom: 0;
    padding-right: 30px;
}

.navbar .logo {
    padding-right: 30px;
}

.navbar-header {
    width: 100%;
    position: absolute;
    top: 0;
    height: 52px;
    background:  rgba(63, 63, 63, 0.6);

    nav {
        width: 1170px;
        margin: auto;
    }
}

.navbar-inverse {
    background-color: transparent;
    border-color: transparent;

    .navbar-nav {
        .active {
            a, a:hover {
                background-color: transparent;
            }
        }
    }    
}

.navbar-inverse .navbar-nav > li > a {
    .avenirNextDemiBold;
    font-size: 16px;
    color: @white;
    text-transform: uppercase;
    padding: 16px 16px 15px 16px;
}
 
.navbar-inverse .navbar-nav > li > a:hover {
	.avenirNextDemiBold;
    font-size: 16px;
    color: @white;
    text-transform: uppercase;
    border-bottom: 2px solid @brand-primary;
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover {
    color: @text-color;
}

ul.menu.nav.navbar-nav {
    margin-left: 115px;
}

ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;
}
 
.dropdown-content {
    display: none;
    position: absolute;
    background-color: @white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
    padding: 0px 15px;
    z-index: 1;
    border-top: 2px solid @brand-primary;
    .avenirNextRegular;
    color: @gray-primary;
    font-size: 16px;   
}
 
.dropdown-content-featured {
   	.avenirNextCondensedRegular;
    color: @brand-primary;
    font-size: 16px;
    border-right: 1px solid @gray-rules;   
}

.dropdown-menu > li {
    list-style-type: none;
}

.dropdown-menu > li > a,
.dropdown-menu > li > a:hover {
    color: @text-color;
}

.dropdown-menu > li > a:hover {
    text-decoration: underline;
}

a.brand-primary,
a.brand-primary:hover {
    color: @brand-primary !important;
}

ul.menu.dropdown-menu:hover {
    border-top: 2px solid @brand-primary;
}

ul.menu.dropdown-menu {
    padding-top: 15px;
}

.bs-menu {
    border-left: 1px solid @gray-rules;
    padding: 0 15px;
    margin: 15px 0 45px 0;

    h2 {
        margin-left: 18px;
    }

    ul {
        margin-right: 30px;
        -moz-column-count: 4;
        -moz-column-gap: 20px;
        -webkit-column-count: 4;
        -webkit-column-gap: 20px;
        column-count: 4;
        column-gap: 30px;
        padding-left: 0;

        li {
            width: 160px;
            margin-right: 15px;
            list-style-type: none;

             a {
                display: block;
                padding: 3px 20px;
                clear: both;
                font-weight: normal;
                line-height: 1.846;
                color: #666666;
                white-space: nowrap;
            }
        }
    }
}

li.extra-services {
    top: 0; 
    right: 0px; 
    margin: -155px 0 0 175px;
}

.dropdown-menu > li > a:hover {
    background-color: @white;
}

.region-sidebar-first {
    nav {
        h2 {
            .avenirNextCondensedRegular;
            text-transform: capitalize;
            line-height: 1.0em;
            margin-top: 0;
        }

        li {
            margin-bottom: 0;

            a {
                .avenirNextCondensedRegular;
                font-size: 16px;
                color: @gray-primary;
                line-height: 1.0em;
                margin-top: 0;
                margin-bottom: 0;
                padding-left: 0;
            }
            a:hover {
                text-decoration: underline;
                background-color: @white;
            }
        }  
        li.active {
            a {
                color: @brand-primary;
            } 
        }

        li.active::before { 
            font-family: FontAwesome;
            font-size: 10px;
            color: #92318f;
            position: absolute;
            left: -15px;
            top: 7px;
            content: "\f0C8";
        }
    }
}

.region-sidebar-second {
    .right-rail-header {
        .avenirNextDemiBold;
        font-size: 18px;
        text-transform: uppercase;
        color: @brand-primary;
        line-height: 1.4em;
        margin: 0 0 15px 0;
    }
    a {
        .avenirNextCondensedRegular;
        font-size: 16px;
        color: @gray-primary;
        line-height: 1.0em;
        margin-top: 0;
        margin-bottom: 0;
        padding-left: 0;
    }
    a:hover {
        text-decoration: underline;
    }

    ul {
        padding-left: 0;
        
        li {
            list-style-type: none;
        }
    }
}

.view-id-resources_list,
.views-field-field-resource-link,
.block-swedishamerican-related-documents-list {
    li {
        padding-left: 0px;
        margin-bottom: 15px;

        a {
            .avenirNextCondensedRegular;
            font-size: 16px;
            color: @gray-primary;
            line-height: 1.0em;
            margin-top: 0;
            margin-bottom: 0;
            padding-left: 0; 
        }
    }
}

.full-alpha {
    background: rgba(63, 63, 63, 1);
}

// Header Region
#block-servicebanner,
#block-cancercarebanner,
#block-allergybanner,
#block-audiologybanner,
#block-breastcarebanner,
#block-nutritionbanner,
#block-emergencybanner,
#block-migrainesbanner,
#block-heartcarebanner,
#block-holisticbanner,
#block-homecarebanner,
#block-imagingbanner,
#block-kidscarebanner,
#block-mentalhealthbanner,
#block-orthopedicsbanner,
#block-physicaltherapybanner,
#block-sleepdisordersbanner,
#block-surgerybanner,
#block-wellnessbanner,
#block-woundcarebanner,
#block-blogbanner,
#block-aboutbanner,
#block-patientsbanner,
#block-visitorsbanner {
    position: relative;
    z-index: -10;
}

.header-container {
    height: 250px;

    .header-banner {
        background-position: center;
        background-size: cover;
        height: 100%;
    }
}

.ios-header {
    margin-top: -54px !important;
}