.provider-container {
    h1, h2 {
        margin-top: 0;
    }
    div {
        vertical-align: top;
    }

    .provider-image-container {
        width: 35%;

        .provider-image {
            width: 75%;
            margin: auto;

            img {
                border-radius: 250px;
            }

            .horizontal-divider {
                height: 1px;
                background-color: @gray-rules;
                width: 30%;
                margin: 0 auto 15px auto;
            }

            .share {
                margin-top: 30px;
                text-align: center;
            }

            .social-provider {
                margin-top: 15px;

                ul {
                    line-height: 1.0em;
                    padding-left: 0
                }

                .social-button {
                    a{
                        color: #ffffff;
                    }
                }
                .social-button:hover {
                    cursor: pointer;
                }
            }
        }
    }
    .provider-details-container {
        max-width: 775px;
        width: 60%;
        
        i {
            margin-right: 15px;
        }

        .provider-contact-container {
            .contact {
                margin-right: 30px;
                min-width: 230px;
                margin-bottom: 30px;
            }
            .address {
                margin-right: 30px;
                width: 175px;
            }
            a {
                color: @text-color;
            }
        }
        .field--name-field-location-reference, .field--name-field-map {
            display: inline-block;
        }

        .provider-background-container {
            .field--label {
                .avenirNextDemiBold;
                font-size: 18px;
                text-transform: uppercase;
                color: @brand-primary;
                line-height: 1.4em;
                margin-bottom: 0.6em;
                margin-top: 30px;
            }
            .field--item {
                .avenirNextRegular;
                font-size: 16px;
                color: @text-color;
                line-height: 1.4em;
                margin-top: 0px;
                margin-bottom: 0.6em;
            }
        }
    }
}

.provider-view-container {
    width: 250px;

    .provider-image {
        width: 100px;
        margin: auto;

        img {
            border-radius: 75px;
        }
    }
}

.new-provider {
    position: absolute;
    right: 0;
    float: right;
    background-image: url(/themes/swedishamerican/images/ico-new.png);
    height: 65px;
    width: 65px;
}

.internal-provider {
    background-image: url(/themes/swedishamerican/images/img-cardTopGroup.png);
    background-size: 100%;
    padding: 15px 0 0 0;
}

.uw-provider {
    background-image: url(/themes/swedishamerican/images/img-cardTopUW.png);
    background-size: 100%;
    padding: 15px 0 0 0;
}

.external-provider {
    background-image: url(/themes/swedishamerican/images/img-cardTop.png);
    background-size: 100%;
    padding: 15px 0 0 0;
}

.views-field-field-image {
    width: 100px;
    margin: 15px auto;

    img {
        border-radius: 75px;
    }
}

.views-field-field-image-uw {
    width: 100px;
    margin: 10px auto 5px auto;

    img {
        border-radius: 75px;
        position: relative;
        top: -10px;
    }
}

#dependant-fields-wrapper {
    position: sticky;
    position: -webkit-sticky;
    top: -1px;
    padding-right: 30px;
    width: 20%;
    vertical-align: top;
    height: 100%;
    box-shadow: 5px 0 5px -5px #bebebe;

    h1 {
        padding: 30px 0 15px 0;
    }
}

.providers-wrapper {
    margin: -150px 0 15px 15px;
}


// .dependant-fields-wrapper-fluid {
//     position: absolute;
//     left: 15px;
//     top: -15px;
// }
// .dependant-fields-wrapper-sticky {
//     position: fixed;
//     top: -15px;
//     // left: 15px;
// }

// .dependant-fields-wrapper-fluid-admin {
//     position: absolute;
//     left: 15px;
//     top: -110px;
// }
// .dependant-fields-wrapper-sticky-admin {
//     position: fixed;
//     top: 68px;
//     // left: 15px;
// }

.select-wrapper:after {
    font-size: 0;
}

.form-item-sag {
    // .input-group-addon {
    //     padding: 0 60px 0 0;
    // }
    input[type="checkbox"] {
        margin-right: 15px;
        float: right;
    }
    input[type="checkbox"]:after {
        border: 1px solid #666666;
    }
    input[type="checkbox"]:checked:after {
        background-color: @brand-primary;
        border-color: @brand-primary;
    }
    .sag-markup {
        float: left;
        width: 90%;

        div {
            vertical-align: top;
        }
        .image {
            margin: 0 15px 0 0;
            display: inline-block;
            width: 10%;
        }
        .text {
            margin: 0 0 15px 0;
            text-align: left;
            display: inline-block;
            width: 80%;
        }
    } 
}

.dependant-fields-footer {
    padding-top: 15px;

    .icon {
        font-size: 28px;
        color: @brand-primary;
        margin: 23px 15px 0 0;  
        vertical-align: top;
    }

    .text {
        vertical-align: top;
        width: 83%;
    }
}

.filter-item-container {
    min-height: 90px;

    .filter-object.inline {
        padding: 10px 15px;
        background-color: @brand-primary;
        color: @white;
        font-size: 14px;
        margin: 15px 15px 30px 15px;
        min-width: 185px;
        text-align: center;
    }
}

.largeImage {
	width: 100%;
    height: 100%;
}

.overlay-close {
	position: absolute;
    right: 3%;
    top: 1%;
}

.clear {
	clear: both;
}

.top-bar {
    height: 60px;
    margin-bottom: 45px;
    border-bottom: 1px solid @gray-rules;
}

.providers-container {
    display: inline-block;
    display: -webkit-inline-box;
}

.patient-story-image {
    .field.field--name-field-image {
        float: left;
        margin: 30px 30px 15px 0;
        
        img {
            max-width: 250px;
            border-radius: 150px;
        }
    }
}

.field.field--name-field-city-rf.field--type-string.field--label-hidden.field--item {
    margin-bottom: 30px;
}

#swedishamerican-providers-form {
    .markup-area {
        position: relative;
        left: 1%;
        width: 75%;
    }
}

.senior-image {
    height: 55%;
    background-size: cover;
    background-position: center;
}
.senior-description {
    position: absolute;
    bottom: 0;
}
.senior-title {
    .avenirNextDemiBold;
    font-size: 16px;
    color: @text-color;
    text-align: center;
    padding: 5px;
}

.senior-position {
    .avenirNextRegular;
    font-size: 16px;
    color: @text-color;
    text-align: center;
    padding: 5px;
}

.providers-wrapper {
    margin-top: -255px;
    min-height: 1000px;
}
.events-wrapper {
    min-height: 1000px;
}

form#swedishamerican-provider-email-share-form input {
    margin: 15px 0;
}