.service-container {
    h1 {
        margin-top: 0;
    }

    .contact {
        vertical-align: top;
    }
    .term-content-container {
        width: 100%;

        p {
            .avenirNextCondensedRegular;
        }
    }

    .service-nav-container, 
    .service-resources-container {
        width: 160px;
        margin: 0 30px;
        vertical-align: top;
    }

    .phone-email {
        border-right: 1px solid @gray-rules;
        padding-right: 30px;
        margin-right: 30px;
        vertical-align: top;
        max-width: 41%; // TODO: Check this

        .phone-email-container {
            padding-bottom: 15px;
        }
        .icon {
            max-width: 8%;
            vertical-align: top;
            margin-right: 8px;
        }
        .result {
            max-width: 88%;
        }
    }
    .location-address {
        vertical-align: top;
        
    }
    .location-full-width {
        max-width: 100%;
    }
    .location-quarter-width {
        max-width: 58%;
    }
    .address {
        vertical-align: top;
        max-width: 160px;
        padding-right: 15px;
        text-transform: capitalize;
        margin-bottom: 15px;

        a {
            .avenirNextDemiBold;
            text-transform: none;
            color: @text-color;
        }
        
        h2 {
            margin-top: 0;
        }
    }

    i {
        margin-right: 15px;
    }
}

.service-events {
    p {
        margin-top: 15px;
    }
}

.special-services-container,
.provider-container {
    margin-bottom: 30px;

    .field--item {
        margin-bottom: 15px;
    }            
}
// .special-services-container{
//     .field--item {
//         .avenirNextCondensedRegular;
//         font-size: 16px;
//         color: @gray-primary;
//         line-height: 1.0em;
//         margin-top: 0;
//         margin-bottom: 0;
//         padding-left: 0;
//     }
// }

.service-faqs {
    margin-bottom: 30px;
}