/* SOCIAL FEEDS: */ 
.social-hdr {
    .avenirNextDemiBold;
    font-size: 30px;
    color: #3F3F3F;
    text-transform:uppercase;
    margin-bottom: 0.6em;
}
 
.social-handle {
    .avenirNextRegular;
    font-size: 16px;
    color: @brand-primary;
}
 
.social-title {
    .avenirNextDemiBold;
    font-size: 16px;
    color: @brand-primary;
}

.twitter-container {
  width: 215px;
  float: left;
}
.fb_article .profile-data img,
.twitter-container .profile-data img {
  margin-right: 8px;
  float: left;
}
.fb_article a,
.twitter-container a {
  font-family: 'AvenirNext-DemiBold';
  font-style: normal;
  font-size: 16px;
  color: #92318f;
  vertical-align: top;
  font-weight: bold;
}
.fb-container {
  display: inline-block;
  width: 265px;
  margin: 0 15px 0 0;
  vertical-align: top;
}
.fb-container .profile-data,
.fb-container .post-message,
.fb-container .post_reactions {
  padding: 8px;
}
.fb-container hr {
  margin: 15px 8px 7px 8px;
}
.fb-container .post_reactions .reactions {
  margin-right: 30px;
}
.ig_article {
  margin: 0 2px 2px 0;
}
/* Need this */
.fb_article .post_image img {
  width: 100%;
}

// .ig_article .post_image img

.ig_article {
  .post_image {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 204px;
    background-size: cover;
    background-position: center;

    img {
      position: absolute;
      left: 50%;
      top: 50%;
      height: 100%;
      width: auto;
      -webkit-transform: translate(-50%,-50%);
          -ms-transform: translate(-50%,-50%);
              transform: translate(-50%,-50%);
    }
  }
}

.social-card {
  border: 1px solid #e5e5e5;
  border-radius: 3px;
}

.youtube-content {
  width: 255px;
  min-height: 250px;
  margin-right: 30px;
  vertical-align: top;
}

.youtube-container {
  border-right: 1px solid @gray-rules;
  margin-right: 30px;
}

.ig-content {
  width: 255px;
  vertical-align: top;
}
.ig-content-wide {
  width: 315px;
  vertical-align: top;
}
.small_ig_article img {
  width: 100px;
  margin: 0 2px 4px 0;
}
.youtube-content iframe {
  width: 255px;
  border: none;
  border-radius: 3px;
  margin-bottom: 15px;
}
.youtube-content a {
  color: #92318F;
}
.youtube-content .title-container {
  font-weight: bold;
  font-size: 16px;
  padding: 0 0 15px 15px;
  line-height: 1.4em;
  margin-top: 0px;
}
.youtube-content .title-container p {
  font-size: 14px;
}
.fa-social-background {
  color: #ffffff;
  font-size: 18px;
  border-radius: 25px;
  margin-right: 15px;
}
.fa-social-background .fa-youtube-play {
  padding: 12px 8px 12px 12px;
}
.fa-social-background .fa-instagram {
  padding: 12px 8px 12px 12px;
}
.fa-social-background .fa-facebook {
  padding: 11px 10px 11px 15px;
}
.fa-social-background .fa-twitter {
  padding: 11px 7px 11px 12px;
}
.divider {
  height: 250px;
  width: 1px;
  background-color: #BEBEBE;
  margin: 15px 30px;
}
section#block-youtubepostfeed {
  float: left;
  width: 56%;
}

.social-block-heading {
  .header-title {
    float: left;
    width: 255px;
    margin-right: 30px;
    min-height: 150px;
    border-right: 1px solid @gray-rules;

    h1 {
      text-align: right;
      padding-right: 30px;
    }
  }
}
.tweet-text {
  display: inline-block;
  padding: 15px 0;
}
.tweet-link a {
  font-size: 13px;
}

section#block-youtubepostfeed .social-block .header-title {
  padding-left: 17px;
}
section#block-twitterpostfeed {
  float: right;
}