/* SOCIAL FEEDS: */ 
.social-hdr {
    .avenirNextDemiBold;
    font-size: 30px;
    color: #3F3F3F;
    text-transform:uppercase;
    margin-bottom: 0.6em;
}
 
.social-handle {
    .avenirNextRegular;
    font-size: 16px;
    color: @brand-primary;
}
 
.social-title {
    .avenirNextDemiBold;
    font-size: 16px;
    color: @brand-primary;
}
