<div class="large-padding"></div>
<div class="social-block">
    <div class="header-title">
        <div class="fa-social-background fb-blue inline">
            <i class="fa fa-facebook">&nbsp;</i>
        </div>
        <div class="inline">
            <p class="social-hdr">Facebook</p>
        </div>
    </div>
    {% for obj in objects %}
        {% set message = obj['message'] %}
        {% set picture = obj['full_picture'] %}
        {% set ago_value = obj['ago_value'] %}

        <div class="fb-container social-card">
            <div class="fb_article">
                <div class="profile-data">
                    <img src="/themes/swedishamerican/images/logo.png" height="50" width="50" />
                    <a href="https://www.facebook.com/swedishamericanrockford" target="_blank">SwedishAmerican</a>
                    <p class='post-time'>{{ ago_value }}</p>
                </div>
                <div class='post-message'>{{ message|length > 250 ? message|slice(0, 250) ~ '...' : message }} </div>
                <div class='post_image'><img src='{{ picture }}' /></div>
            </div>
        </div>
    {% endfor %}
</div>