<hr />
<div class="med-padding"></div>
    <div class="social-block">
        <div class="header-title">
            <div class="fa-social-background ig-blue inline">
                <i class="fa fa-instagram">&nbsp;</i>
            </div>
            <div class="inline">
                <p class="social-hdr">Instagram</p>
            </div>
        </div>
        <div class="instagram-container">
            <div class="ig_article ig-content inline">
                <div class="post_image" style="background-image: url('{{ nodes[0]['images']['low_resolution']['url']}}')"></div>
            </div>
            <div class="ig_article ig-content inline">
                <div class="post_image" style="background-image: url('{{ nodes[1]['images']['low_resolution']['url']}}')"></div>
            </div>
            <div class="ig_article ig-content-wide inline">
                {% for i in 2..7 %}
                    {% if nodes[i] != null %}
                        {% if i < 2 %}
                            <div class="ig_article ig-content inline">
                                <div class="post_image">
                                    <img src="{{ nodes[i]['images']['low_resolution']['url'] }}" />
                                </div>
                            </div>
                        {% else %}
                            <div class="small_ig_article small_ig-content inline">
                                <div class="small_post_image inline">
                                    <img src="{{ nodes[i]['images']['low_resolution']['url'] }}" />
                                </div>
                            </div>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<div class="med-padding"></div>
<hr />

{# <img src="' . $post_array[0]['images']['low_resolution']['url'] . '" /></div> #}