<div id="animation_container" style="background-color:rgba(255, 255, 255, 1.00); width:2880px; height:615px">
	<canvas id="canvas" width="2880" height="615" style="position: absolute; display: block; background-color:rgba(255, 255, 255, 1.00);"></canvas>
	<div id="dom_overlay_container" style="pointer-events:none; overflow:hidden; width:2880px; height:615px; position: absolute; left: 0px; top: 0px; display: block;"></div>
</div>
