<div class="card-search-form">
    <h2>Location Search</h2>
    <input id="location-search-form-name" type="text" name="name" placeholder="Name" />
    <input id="location-search-form-city" type="text" name="city" placeholder="City" />
    <button class="button js-form-submit form-submit btn-info btn location-search-form-button" type="submit" id="edit-submit--location" name="op" value="Apply">Search</button>
</div>