<div class="card-search-form">
    <h2>Provider Search</h2>
    <input id="provider-search-form-name" type="text" name="name" placeholder="Name" />
    <select id="provider-search-form-locations" name="locations">
        <option value="location">Location</option>
        {% for key, location in locations %}
            <option value="{{ key }}">{{ location }}</option>
        {% endfor %}
    </select>
    <select id="provider-search-form-specialties" name="specialties">
        <option value="specialty">Specialty</option>
        {% for key, specialty in specialties %}
            <option value="{{ key }}">{{ specialty }}</option>
        {% endfor %}
    </select>
    <select id="provider-search-form-gender" name="gender">
        <option value="gender">Gender</option>
        <option value="male">Male</option>
        <option value="female">Female</option>
    </select>
    <button class="button js-form-submit form-submit btn-info btn provider-search-form-button" type="submit" id="edit-submit--3" name="op" value="Apply">Apply</button>
</div>